@charset "UTF-8";
.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

/* убираем маркеры для списка */
.list {
  list-style: none;
}

.social-list {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.social-list-item:not(:last-child) {
  margin-right: 10px;
}

.social-list-item-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: #ffffff;
  border-radius: 50%;
}

.social-list-item-link:hover {
  background-color: #2196f3;
}

.social-list-item-link:hover .social-list-item-svg {
  fill: #ffffff;
}

.footer .social-list-item-link {
  background-color: #757575;
}

.footer .social-list-item-link:hover {
  background-color: #2196f3;
}

.social-list-item-svg {
  width: 20px;
  height: 20px;
  fill: #AFB1B8;
}

.footer .social-list-item-svg {
  width: 20px;
  height: 20px;
  fill: #ffffff;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

address {
  font-style: normal;
}

button {
  cursor: pointer;
}

.link {
  text-decoration: none;
}

.link, .phone, .hero-button, .social-list-item-link,
.filter-button, .clients-logo-svg, .modal-close-btn-svg,
.modal-form-btn, .modal-form-input {
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* ========== Основные стили для страниц ========== */
.body {
  background-color: #ffffff;
  color: #757575;
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

.container {
  width: 100%;
  padding: 0 15px;
  margin-right: auto;
  margin-left: auto;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    padding: 0 15px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding: 0 15px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
    padding: 0 15px;
  }
}

.link.current::after {
  content: "";
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  display: block;
  position: absolute;
  left: 0px;
  bottom: -8px;
}

.navigation .link {
  color: #212121;
}

.contact-list .phone,
.contact-list .link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.167;
  letter-spacing: 0.02em;
  color: #757575;
  text-decoration: none;
}

.contact-list .phone:hover, .contact-list .link:hover,
.contact-list .phone:focus, .contact-list .link:focus {
  color: #2196f3;
}

.contact-list .phone:hover .contact-list-item-svg,
.contact-list .link:hover .contact-list-item-svg {
  fill: #2196f3;
}

@media screen and (max-width: 767px) {
  .header {
    position: relative;
  }
  .header-menu {
    display: block;
    margin-right: auto;
    margin-left: auto;
    position: absolute;
    left: 0px;
    top: 100%;
    width: 100%;
    height: 455px;
    background-color: #ffffff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
    padding: 60px 15px;
    text-align: center;
    z-index: 2;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    overflow: hidden;
    transform: translateY(-100%);
    transition: all 500ms ease-in;
  }
  .header-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: unset;
    transform: translateY(0);
    display: block;
  }
  .header-menu .link {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.167;
    text-align: center;
    letter-spacing: 0.02em;
    position: relative;
  }
  .header-menu .link:hover,
  .header-menu .link:focus {
    color: #2196f3;
  }
  .header-menu .navigation {
    display: block;
    margin-bottom: 60px;
    align-items: center;
  }
  .header-menu .navigation-list-item:not(:last-child) {
    margin-bottom: 40px;
  }
  .header-utils {
    display: block;
    align-items: center;
  }
  .header-utils .svg-email {
    width: 16px;
    height: 12.2px;
  }
  .header-utils .svg-phone {
    width: 10px;
    height: 14.94px;
  }
  .header-utils .contact-list {
    text-align: center;
  }
  .header-utils .contact-list-item:not(:last-child) {
    margin-bottom: 16px;
  }
}

@media screen and (min-width: 768px) {
  .header-menu {
    display: flex;
  }
  .navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 84px;
  }
  .navigation .link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.02em;
    position: relative;
  }
  .link.current::after {
    position: absolute;
    bottom: -28px;
  }
  .navigation-list {
    display: flex;
  }
  .navigation-list-item {
    width: max-content;
  }
  .navigation-list-item:not(:last-child) {
    margin-right: 50px;
  }
  .link.current:hover::after {
    color: #2196f3;
  }
  .link:hover.current::after {
    background-color: #2196f3;
  }
  .contact-list .phone, .contact-list .link {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.167;
    letter-spacing: 0.02em;
  }
  .svg-email, .svg-phone {
    width: 14px;
    height: 10px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contact-list-item:not(:last-child) {
    margin-bottom: 10px;
  }
  .contact-list-item .link,
  .contact-list-item .phone {
    display: flex;
    align-items: center;
    justify-items: center;
  }
  .contact-list {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }
}

@media screen and (min-width: 1200px) {
  .header .container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .header .logo {
    margin-right: 93px;
  }
  .header-menu {
    display: flex;
    align-items: center;
  }
  .navigation-list {
    display: flex;
  }
  .contact-list {
    display: flex;
    align-items: center;
    margin-left: auto;
  }
  .contact-list .phone:hover .contact-list-item-svg {
    fill: #2196f3;
  }
  .contact-list .link:hover .contact-list-item-svg {
    fill: #2196f3;
  }
  .contact-list-item {
    display: flex;
    align-items: center;
  }
  .contact-list-item .link,
  .contact-list-item .phone {
    display: flex;
    align-items: center;
  }
  .contact-list-item:not(:last-child) {
    margin-right: 30px;
  }
  .contact-list-item-svg {
    fill: #757575;
    margin-right: 10px;
  }
  .svg-email {
    width: 16px;
    height: 12px;
    cursor: pointer;
  }
  .svg-phone {
    width: 10px;
    height: 16px;
    cursor: pointer;
  }
}

/*=========== Контакты (footer) ===========*/
.address-map {
  color: #ffffff;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  text-decoration: none;
  margin-bottom: 8px;
}

.footer-contact-info {
  margin-bottom: 60px;
}

.footer-contact .link,
.footer-contact .phone {
  color: #757575;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
  margin-bottom: 8px;
}

.footer-contact .link .link:hover,
.footer-contact .link .phone:hover,
.footer-contact .link .link:focus,
.footer-contact .link .phone:focus,
.footer-contact .phone .link:hover,
.footer-contact .phone .phone:hover,
.footer-contact .phone .link:focus,
.footer-contact .phone .phone:focus {
  color: #2196f3;
}

@media screen and (min-width: 1200px) {
  .footer-contact-info {
    text-align: left;
    margin-right: 70px;
  }
  .address-map {
    margin-bottom: 9px;
  }
  .footer-contact .link,
  .footer-contact .phone {
    margin-bottom: 9px;
  }
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.is-hidden .pop-ups_modal {
  transform: translateY(-200%) scale(0.4);
  transition-delay: 0s;
}

/* общий div для модальных окон */
.pop-ups {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 9;
  background-color: rgba(0, 0, 0, 0.5);
  transition: all 500ms ease;
}

/* поддерживающий div для модального окна, по
  которому центрируем модальное окно */
.pop-ups_popup {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: hidden auto;
  padding: 20px 0;
  display: flex;
}

.pop-ups_modal {
  max-width: 528px;
  width: 100%;
  min-height: 581px;
  padding: 40px;
  position: relative;
  margin: auto;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translateY(0) scale(1) rotate(720deg);
  transition: all 750ms ease;
  transition-delay: 1s;
}

.pop-ups.is-hidden {
  opacity: 0;
  visibility: hidden;
  transition-delay: 1s;
}

.modal-close-btn {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 8px;
  top: 8px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.modal-close-btn:focus {
  outline: none;
}

.modal-close-btn-svg {
  width: 18px;
  height: 18px;
  fill: #212121;
}

.modal-close-btn-svg:hover {
  fill: #2196f3;
}

.modal-close-btn-svg:focus {
  fill: #2196f3;
  border: transparent;
}

.modal-form-title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form-field {
  position: relative;
  margin-bottom: 10px;
}

.modal-form-users-info {
  margin-bottom: 5px;
}

.modal-form-input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.01em;
  color: #757575;
}

.modal-form-input:focus {
  outline: none;
  border-color: #2196f3;
}

.modal-form-input-icon-svg {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(0%);
  width: 18px;
  height: 18px;
  fill: #212121;
  pointer-events: none;
}

.modal-form-input:focus + .modal-form-input-icon-svg {
  fill: #2196f3;
}

.modal-form-message-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  cursor: text;
}

.modal-form-message {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.01em;
  color: #757575;
}

.modal-form-message:focus {
  outline: none;
  border-color: #2196f3;
}

.modal-form-label-checkbox {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.modal-form-label-checkbox::before {
  content: "";
  display: block;
  width: 16px;
  height: 15px;
  outline: 0.2px solid #212121;
  background-color: #ffffff;
  margin-right: 7px;
}

.modal-form-checkbox:checked + .modal-form-label-checkbox::before {
  background-image: url(../images/mod_window/icon-check.svg);
}

.modal-form-checkbox:checked + .modal-form-label-checkbox {
  color: #2196f3;
}

.modal-form-label-checkbox-text,
.modal-form-label-checkbox-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin-right: 4px;
}

.modal-form-label-checkbox-link {
  color: #2196f3;
}

.modal-form-btn {
  width: 200px;
  height: 50px;
  border: transparent;
  margin: auto;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  outline: none;
}

.header {
  padding: 10px 15px;
  margin-right: auto;
  margin-left: auto;
}

.header .logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.167;
  letter-spacing: 0.03em;
  color: #212121;
}

.header .logo > span {
  color: #2196f3;
}

.header .link.current {
  color: #2196f3;
}

@media screen and (max-width: 767px) {
  .header {
    position: relative;
    height: 60px;
  }
  .burger-btn {
    z-index: 1;
    background-color: transparent;
    outline: none;
    border: none;
    text-align: center;
  }
  .burger-btn:focus {
    outline: none;
  }
  .open-menu-icon-svg {
    display: block;
  }
  .close-menu-icon-svg {
    display: none;
  }
  .menu-icon-svg {
    fill: #212121;
  }
  .burger-btn.is-open .open-menu-icon-svg {
    display: none;
  }
  .burger-btn.is-open .close-menu-icon-svg {
    display: block;
  }
  .close-menu-icon-svg:hover,
  .open-menu-icon-svg:hover {
    fill: #2196f3;
  }
  .close-menu-icon-svg:focus,
  .open-menu-icon-svg:focus {
    fill: #2196f3;
    border: transparent;
  }
}

@media screen and (min-width: 768px) {
  .burger-btn {
    display: none;
  }
  .header {
    display: flex;
    height: 80px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header .logo {
    margin-right: 88px;
  }
}

@media screen and (min-width: 1200px) {
  .header {
    width: 100%;
    background-color: #ffffff;
    border: 1px solid #ECECEC;
  }
  .logo {
    display: flex;
    margin-right: 93px;
    color: #212121;
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    text-decoration: none;
    line-height: 1.19;
  }
  .logo > span {
    color: #2196f3;
  }
}

/* Герой */
.hero-title {
  color: #ffffff;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.section-hero {
  display: flex;
  min-height: 400px;
  max-width: 480px;
  /* padding-top: 50px; */
  padding-bottom: 50px;
  padding-right: 15px;
  padding-left: 15px;
  justify-content: center;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 60px;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/Img.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

@media screen and (min-width: 768px) {
  .section-hero {
    min-height: 400px;
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .section-hero {
    min-height: 600px;
    max-width: 1600px;
  }
}

.section-hero-box {
  text-align: center;
  max-width: 360px;
}

.hero-button {
  border-radius: 4px;
  border: transparent;
  font-family: inherit;
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  background-color: #2196f3;
  text-decoration: none;
  text-align: center;
  padding: 10px 32px;
  min-width: 200px;
  height: 50px;
}

.hero-button:hover {
  color: #2196f3;
  background-color: #ffffff;
}

.hero-button:focus {
  outline: none;
}

/* ========== Наши особенности ========== */
.features-list-title {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
  margin-bottom: 10px;
}

.features-list-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.features-list-item {
  margin-bottom: 30px;
}

.features-list-item-icon {
  position: relative;
  width: 270px;
  height: 120px;
  border-radius: 4px;
  background-color: #F5F4FA;
  margin-bottom: 30px;
  padding: 15px;
}

.features-list-item-icon::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-repeat: no-repeat;
  background-position: center;
}

.features-list-item-icon.antenna::before {
  background-image: url(../images/our_features/antenna.svg);
}

.features-list-item-icon.clock::before {
  background-image: url(../images/our_features/clock.svg);
}

.features-list-item-icon.diagram::before {
  background-image: url(../images/our_features/diagram.svg);
}

.features-list-item-icon.astronaut::before {
  background-image: url(../images/our_features/astronaut.svg);
}

@media screen and (max-width: 479px) {
  .container {
    width: 100%;
    padding: 0 15px;
  }
  .features-list-item-icon {
    width: 100%;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .container {
    display: block;
  }
  .features-list-item-icon {
    width: 450px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .container {
    display: flex;
    padding: 0;
  }
  .features-list-item-icon {
    width: 354px;
  }
  .features-list {
    display: flex;
    flex-wrap: wrap;
  }
  .features-list-item {
    width: calc(100% / 2);
    padding: 15px;
  }
}

@media screen and (max-width: 1199px) {
  .section-features {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .section-features {
    padding-bottom: 94px;
  }
  .section-features .container {
    display: flex;
  }
  .features-list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
  .features-list-item {
    width: calc(100% / 4);
    padding: 15px;
  }
}

/* ============ Чем мы занимаемся ================*/
.section-wwd {
  margin-bottom: 94px;
}

@media screen and (max-width: 1199px) {
  .section-wwd {
    display: none;
  }
}

.section-wwd-title {
  margin-bottom: 50px;
  color: #212121;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.section-wwd-list {
  display: flex;
}

.section-wwd-list-item {
  position: relative;
}

.section-wwd-list-item:not(:last-child) {
  margin-right: 30px;
}

.box-title {
  color: #ffffff;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.142;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.box-img {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 370px;
  min-height: 70px;
  background-color: rgba(52, 53, 64, 0.8);
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
}

/* Наша команда */
.section-team {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #F5F4FA;
}

.section-team .container {
  display: block;
  text-align: center;
}

.team-img {
  margin-bottom: 30px;
}

.team-title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.187;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.team-text {
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.187;
  letter-spacing: 0.03em;
  text-align: center;
}

.section-team-title {
  margin-bottom: 30px;
  color: #212121;
  font-size: 28px;
  line-height: 1.178;
  letter-spacing: 0.03em;
  font-weight: 700;
  text-align: center;
}

.team-list-item {
  display: block;
  text-align: center;
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 479px) {
  .team-img {
    width: 100%;
    height: 460px;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .team-img {
    width: 450px;
    height: 460px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .section-team .container {
    padding: 0 15px;
  }
  .team-img {
    width: 354px;
    height: 374px;
  }
  .team-list {
    display: flex;
    flex-wrap: wrap;
    justify-self: center;
  }
  .team-list-item {
    width: calc((100% - 4 * 15px))/2;
  }
  .team-list-item:nth-child(-n + 2) {
    margin-bottom: 30px;
  }
  .team-list-item:nth-child(2n + 1) {
    margin-right: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .section-team {
    padding-top: 94px;
    margin-bottom: 94px;
    background-color: #F5F4FA;
  }
  .section-team-title {
    margin-bottom: 50px;
    color: #212121;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 0.03em;
    font-weight: 700;
    line-height: 1.19;
    text-align: center;
  }
  .team-list {
    display: flex;
  }
  .team-list-item {
    text-align: center;
    background-color: #ffffff;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  }
  .team-list-item:not(:last-child) {
    margin-right: 30px;
  }
  .team-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    margin-bottom: 30px;
  }
}

/* ========== Постоянные клиенты ========== */
.section-our-clients-title {
  color: #212121;
  margin-bottom: 30px;
}

.our-clients-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.our-clients-list-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 210px;
  height: 90px;
  background-color: #ffffff;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
}

.our-clients-list-item:hover {
  border: 1px solid #2196f3;
}

.our-clients-list-item:hover .clients-logo-svg {
  fill: #2196f3;
}

.clients-logo-svg {
  fill: #AFB1B8;
}

@media screen and (max-width: 479px) {
  .our-clients-list {
    display: inline-block;
    text-align: center;
  }
  .our-clients-list-item {
    margin: 0 0 30px;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .section-our-clients .container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  .our-clients-list-item {
    margin-bottom: 30px;
  }
  .our-clients-list-item:nth-child(2n + 1) {
    margin-right: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .section-our-clients .container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  .our-clients-list-item {
    margin-bottom: 30px;
  }
  .our-clients-list-item:not(:nth-child(3n)) {
    margin-right: 30px;
  }
}

@media screen and (max-width: 1199px) {
  .section-our-clients {
    padding-top: 60px;
    margin-bottom: 60px;
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .section-our-clients {
    margin-bottom: 94px;
    text-align: center;
  }
  .section-our-clients-title {
    margin-bottom: 50px;
  }
  .our-clients-list {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .our-clients-list-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 90px;
    background-color: #ffffff;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    align-items: center;
  }
  .our-clients-list-item:not(:last-child) {
    margin-right: 30px;
  }
  .our-clients-list-item:hover {
    border: 1px solid #2196f3;
  }
  .our-clients-list-item:hover .clients-logo-svg {
    fill: #2196f3;
  }
  .clients-logo-svg {
    fill: #AFB1B8;
  }
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2F303A;
}

.footer .logo {
  color: #ffffff;
  font-family: Raleway;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.167;
  text-decoration: none;
  margin: 0 0 20px;
}

.footer .logo.logo > span {
  color: #2196f3;
}

.footer .container {
  display: block;
  text-align: center;
}

.footer-social {
  margin-bottom: 60px;
}

.footer-social-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.mail-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.mail-box {
  display: block;
  text-align: center;
}

.mail-form-input {
  padding: 0 16px;
  width: 450px;
  height: 50px;
  border: none;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: transparent;
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.mail-form-input:focus {
  outline: none;
  border: 1px solid #ffffff;
}

.mail-button {
  align-items: center;
  border-radius: 4px;
  border: transparent;
  font-family: inherit;
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  background-color: #2196f3;
  text-decoration: none;
  text-align: center;
  padding: 10px 29px;
  min-width: 200px;
  height: 50px;
}

.mail-button:focus {
  outline: none;
  border: 1px solid #ffffff;
}

.mail-button::after {
  content: "";
  width: 24px;
  height: 24px;
  color: #ffffff;
  background-image: url(../images/sociallink/iconsend.svg);
  background-size: contain;
  margin-left: 10px;
}

@media screen and (max-width: 479px) {
  .mail-form-input {
    width: 100%;
  }
  .mail-button {
    align-items: center;
    border-radius: 4px;
    border: transparent;
    font-family: inherit;
    color: #ffffff;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    background-color: #2196f3;
    text-decoration: none;
    text-align: center;
    padding: 10px 29px;
    min-width: 200px;
    height: 50px;
  }
  .mail-button:focus {
    outline: none;
    border: 1px solid #ffffff;
  }
  .mail-button::after {
    content: "";
    width: 24px;
    height: 24px;
    color: #ffffff;
    background-image: url(../images/sociallink/icon-send.svg);
    background-size: contain;
    margin-left: 10px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer
.container {
    padding: 0 60px;
    display: flex;
    flex-wrap: wrap;
  }
  .footer-contact-info {
    margin-right: 165px;
  }
}

@media screen and (min-width: 1200px) {
  .footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #2F303A;
  }
  .footer .logo {
    color: #ffffff;
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
    margin: 0 0 20px;
  }
  .footer .logo .logo > span {
    color: #2196f3;
  }
  .footer .container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .footer-social {
    margin-right: 93px;
  }
  .mail-box {
    display: flex;
    width: 570px;
    height: 86px;
    margin-bottom: 94px;
    flex-wrap: wrap;
  }
  .mail-form {
    width: 570px;
    height: 50px;
    display: flex;
  }
  .mail-form-input {
    padding: 0 16px;
    width: 358px;
    height: 50px;
    border: none;
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    background-color: transparent;
    margin-right: 12px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: #ffffff;
  }
  .mail-form-input:focus {
    outline: none;
    border: 1px solid #ffffff;
  }
  .mail-button {
    display: flex;
    align-items: center;
    border-radius: 4px;
    border: transparent;
    font-family: inherit;
    color: #ffffff;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    background-color: #2196f3;
    text-decoration: none;
    text-align: center;
    padding: 10px 29px;
    min-width: 200px;
    height: 50px;
  }
  .mail-button:focus {
    outline: none;
    border: 1px solid #ffffff;
  }
  .mail-button::after {
    content: "";
    width: 24px;
    height: 24px;
    color: #ffffff;
    background-image: url(../images/sociallink/icon-send.svg);
    background-size: contain;
    margin-left: 10px;
  }
}
/*# sourceMappingURL=main.css.map */