// .header {
//   background-color: $primery-white-color;
//   border: 1px solid #ECECEC;

//     .link {
//     color: $title-text-color;
//     font-weight: 500;
//     font-size: 14px;
//     line-height: 1.14;
//     letter-spacing: 0.02em;
//     text-decoration: none;
//     padding: 25px 0;
//     position: relative;
//     } 

//       .link:hover,
//       .link:focus {
//         color: $accent-color;
//       }

//       .link.current {
//       color: $accent-color;
//     }
// }
// /* ========== Logo ========== */ 

// .logo {
//   display: flex;
//   margin-right: 93px;
//   color: $title-text-color;
//   font-family: Raleway;
//   font-weight: 700;
//   font-size: 26px;
//   text-decoration: none;
//   line-height: 1.19;  

//     & > span {
//     color: $accent-color;
//     }
// }

.header {
  padding: 10px 15px;
}

.header .logo {
font-family: Raleway;
font-weight: 700;
font-size: 24px;
line-height: 1.167;
letter-spacing: 0.03em;
}

.header .logo > span {
  color: $accent-color;
}

.header-menu {
   display: none;
 } 

.burger-btn {
  background-color: $primery-white-color;
  outline: none;
  border: none;
  width: 40px;
  height: 40px;
  text-align: center;
}

.menu-icon-svg {
  fill: $title-text-color; 
}

// .open-menu-icon-svg {
//   width: 24px;
//   height: 16px;
//  }

// .close-menu-icon-svg {
//   width: 18.67px;
//   height: 18.67px;
// }

