/* ========== Наши особенности ========== */


.section-features {
  padding-bottom: 94px;
  
    .conteiner {
    display: flex;
    }
}

.features-list {
display: flex;
flex-wrap: wrap;
margin: -15px;
}

.features-list-title {
font-weight: 400;
font-size: 14px;
line-height: 1.143;
letter-spacing: 0.03em;
text-transform: uppercase;
color: $title-text-color;
}

.features-list-text {
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: $primery-text-color;
}


.features-list-item {
width: calc(100% / 4);
padding: 15px;
}

.features-list-item-icon {
position: relative;
width: 270px;
height: 120px;
border-radius: 4px;
background-color: #F5F4FA;
margin-bottom: 30px;
padding: 15px;

    &::before {
    content: "";  
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0; 
    background-repeat: no-repeat; 
    background-position: center;
  } 
}

.features-list-item-icon.antenna::before {
  background-image: url(../images/our_features/antenna.svg);
}

.features-list-item-icon.clock::before {
  background-image: url(../images/our_features/clock.svg);
}

.features-list-item-icon.diagram::before {
  background-image: url(../images/our_features/diagram.svg);
}

.features-list-item-icon.astronaut::before {
  background-image: url(../images/our_features/astronaut.svg);
  
}

